{% load static %}

<!DOCTYPE html>
<html lang = "en">
   <head>
      <meta charset = "utf-8">
      <title>Bus Management System</title>
      <link rel="stylesheet" href="{% static '/CSS/home.css' %}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script>
        $(document).ready(function(){
            var date = new Date();
            document.getElementById("datepicker").value = date.getFullYear().toString() + '-' + (date.getMonth() + 1).toString().padStart(2, 0) + '-' + date.getDate().toString().padStart(2, 0);
        });
        function show(){
            var ob = document.getElementById('hide')
            if (ob.style.display == "none"){
                ob.style.display = "block";
                document.getElementById('btn1').style.display = "none";
            }
        }
      </script>
   </head>
   
   <body>
    <br><br><br><br>
        <h1>Bus Management System</h1>
        <br><br><br>
        <form method="POST">
            {% csrf_token %}
            <div id="div1">
                <div id="div2">
                    <label for="datepicker">Select a date</label>
                    <input type="date" id="datepicker" name="date"><br>
                    <label for="diesel">Diesel</label>
                    <input type="number" name="diesel" placeholder="Enter Diesel rate for this day" required><br>
                    <label for="bus">Select a Bus</label>
                    <select id="bus" name="bus">
                        <option value="volvo">Volvo</option>
                        <option value="orange">Orange</option>
                        <option value="kaveri">Kaveri</option>
                        <option value="kesineni">Kesineni</option>
                        <option value="srm">SRM</option>
                        <option value="srs">SRS</option>
                    </select><br>
                    <label for="qty">Quantity</label>
                    <input type="number" name="qty" placeholder="Enter the amount of diesel that the bus took" required><br>
                    <div id="hide" style="display: none">
                        <label for="num">Enter how many buses you want to create with same data</label>
                        <input type="number" name="num" min="2" required>
                    </div>
                    <input type="submit">&nbsp;&nbsp;&nbsp;
                    <input type="reset"><br><br>
                    <button class="tooltip" id="btn1" onclick="show()">Add multiple buses<span class="tooltiptext">To Create with same data</span></button>
            </div>
        </form>
   </body>
</html>
